<form id="form-organization" class="section" method="post" action="/api/organization/create">
  <div class="section-header">
    <div class="col-md-9">
      <h1>Criar Organizações</h1>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-plus"></i> Criar
      </button>
      <a href="/organizations" class="btn btn-default2 float-right">
        <i class="fas fa-arrow-left"></i> Voltar
      </a>
    </div>
  </div>

  <div class="section-body">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Basico</h4>
        </div>
        <div class="card-body">
          <div class="form-group form-row">
            <div class="col-md-4">
              <label>Nome</label>
              <input type="text" class="form-control" name="name" minlength="4" maxlength="40" pattern=".{4,40}" required>
            </div>
            <div class="col-md-4">
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-at"></i>
                  </div>
                </div>
                <input type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              </div>
            </div>
            <div class="col-md-4">
              <label>Telefone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-phone"></i>
                  </div>
                </div>
                <input type="text" class="form-control" name="phone" data-mask="(00) 00000-0000" length="15" pattern=".{15}" required>
              </div>
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-md-4">
              <label>CNPJ</label>
              <input type="text" class="form-control" name="cnpj" data-mask="00.000.000/0000-00" length="18" pattern=".{18}">
            </div>
            <div class="col-md-4">
              <label>Imagem</label>
              <input type="text" class="form-control" name="image" minlength="10" maxlength="1024" pattern=".{10,1024}">
            </div>
            <div class="col-md-4">
              <label>Fundada em</label>
              <input type="date" class="form-control" name="fundation">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4>Endereços</h4>
          <div class="form-group m-0 form-inline">
            <select class="form-control" ui-select-address></select>
            <button type="button" class="btn btn-primary mx-1" ui-add-address>
              <i class="fas fa-plus"></i>
            </button>
            <button type="button" class="btn btn-primary mx-1" ui-remove-address>
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-primary mx-1" ui-edit-address>
              <i class="fas fa-edit"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form></form>
          <form id="form-address" data-type="create">
            <div class="form-group form-row">
              <div class="col-md-2">
                <label>País</label>
                <input type="text" class="form-control" name="country" minlength="4" maxlength="40" pattern=".{4,40}">
              </div>
              <div class="col-md-2">
                <label>Estado</label>
                <input type="text" class="form-control" name="state" minlength="4" maxlength="40" pattern=".{4,40}">
              </div>
              <div class="col-md-2">
                <label>Cod. Postal</label>
                <input type="text" class="form-control" name="postalCode" data-mask="00000-000" length="9" pattern=".{9}">
              </div>
              <div class="col-md-3">
                <label>Cidade</label>
                <input type="text" class="form-control" name="city" minlength="4" maxlength="40" pattern=".{4,40}">
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col-md-4">
                <label>Endereço</label>
                <input type="text" class="form-control" name="address" minlength="4" maxlength="40" pattern=".{4,40}">
              </div>
              <div class="col-md-1">
                <label>Numero</label>
                <input type="text" class="form-control" name="number" minlength="1" maxlength="4" pattern=".{1,4}">
              </div>
              <div class="col-md-4">
                <label>Complemento</label>
                <input type="text" class="form-control" name="complement" minlength="4" maxlength="20" pattern=".{4,20}">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h4>Contatos</h4>
        </div>
        <div class="card-body form-inline">
          <div class="col-md-6">
            <span>E-mails</span>
            <div class="col-md-12 mt-2 border p-1"></div>
            <div class="col-md-12 mt-2">
              <button type="button" class="btn btn-primary float-right" ui-add-mail>
                <i class="fas fa-plus"></i> Adicionar
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <span>Telefones</span>
            <div class="col-md-12 mt-2 border p-1"></div>
            <div class="col-md-12 mt-2">
              <button type="button" class="btn btn-primary float-right" ui-add-phone>
                <i class="fas fa-plus"></i> Adicionar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
